* {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: #f2f3f4;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: #746741;
}

a:hover,
a:active {
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 52px;
}

h1 span {
  font-size: 48px;
  line-height: 72px;
  font-weight: normal;
}

.pagename,
.contentname {
  display: none;
}

h2 {
  font-size: 24px;
  line-height: 60px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p,
hr {
  margin-bottom: 12px;
  max-width: 900px;
}

li {
  list-style: none;
}

.header-top {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  padding: 30px 40px 30px 40px;
}

.avatar-block {
  width: 300px;
}

.avatar {
  border-radius: 50%;
}

.name {
  width: 600px;
  padding: 40px 0px 40px 80px;
}

.header-bottom ul {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #5f4699;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
}

.header-bottom a {
  color: #ffffff;
}

.header-bottom a:hover,
.header-bottom a:active,
footer a:hover,
footer a:active {
  color: #c3c3c3;
}

.page-block {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

aside {
  width: 300px;
  background-color: #eae1fb;
  padding: 0 40px 40px;
}

.maincontent {
  width: 600px;
  padding: 0 40px 40px;
}

pre {
  font-family: monospace;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
  padding-top: 20px;
}

footer,
footer a {
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  max-width: 900px;
  padding: 20px 40px 10px;
  background-color: #767281;
}

footer img {
  margin-top: 16px;
}
